@font-face {
	font-family: "Pokemon_Hollow";
	src:url("font/Pokemon_Hollow.ttf");
}



:root{
	--color-rosapastel: #DEA5A4;
}



.botones: hover { /*es un atributo que al posicionar el mouse en el boton este se agranda*/
	background-color: pink;
}

#botones {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: space-around;
	align-content: center;
	padding: 10px 100px 10px 100px;
}
/*
#body {
	text-decoration: Pokemon_Hollow;
}*/



h1 {
  font-family: Pokemon_Hollow;
  font-size: 50px;
  text-align: center;
  color: orange;
}

nav {
	background-color: orange;
	
}

nav li{
	list-style: none;
	padding: 20px 10px 10px; 
	/*padding-left: : 10px;*/
	
}

img {
	/*padding: 10px 10px 10px 10px;*/
	align-content: stretch;
	align-content: space-around;
}

/*
#Boton_1{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_2{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_3{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_4{
	display: flex;
	padding: 30px 30px 30px 30px;
	align-content: stretch;
}

*/
