@font-face {
	font-family: "Pokemon_Hollow";
	src:url("font/Pokemon_Hollow.ttf");
}



:root{
	--color-rosapastel: #DEA5A4;
}



.botones: hover {
	background-color: pink;
}

#botones {
	display: flex;
	flex-direction: root;
	margin-top: 0px;
  	margin-bottom: 0px;
	background-color: : var(--rosapastel);  	
}
/*
#body {
	text-decoration: Pokemon_Hollow;
}*/



h1 {
  font-family: Pokemon_Hollow;
  font-size: 50px;
  text-align: center;
  color: orange;
}

nav {
	background-color: orange;
	padding-bottom: 20px 5px 10px;
}

nav li{
	list-style: none;
	padding: 10px 10px 10px 5px;
	padding-left: : 100px;
}

img {
	padding: 0px 10px 10px 10px;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}