@font-face {
	font-family: "Pokemon_Hollow";
	src:url("font/Pokemon_Hollow.ttf");
}



:root{
	--color-rosapastel: #DEA5A4;
}

/*.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  /*transition-duration: 0.4s;*/


/*.button: hover, 
.button: focus { es un atributo que al posicionar el mouse en el boton este se agranda
	background: pink;
	transform: translateY(4px);
	border-width:2px;
	color: white;
}
*/
.botones {
	background-color: white;
	color: black;
	display: inline;
	margin: 0px;
	flex-direction: row;
	/*align-content: space-around;*/
	/*justify-content: space-around;*/
	/*align-content: rig;*/
	/*padding: 0px 10px 0px 10px;*/
	height: 220px; width: 220px;
	background-size: 200px 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.card {
  color: white;
  width: 200px;
  height: 260px;
  margin: 10px;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 10px;
}
.card img {
/*background-image: url("http://www.serebii.net/pokemongo/pokemon/150.png");
  width: 130px;
  height: 130px;
  align-self: center;
  margin: 1em;*/
}

section div{
	/*background-color: pink;*/
	/*height: 300px; width: 400px;
	background-size: 400px 300px;*/
	display: inline;
	/*border: 5px solid black;*/
}




section div img {
	display: inline;
	background: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);
	/*background-image: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);*/
	background-repeat: repeat-y;
	flex-direction: row;
}

.granContenedor{
	display: inline;
	background: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);
	/*background-image: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);*/
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	flex-direction: row;
	color: red;
}





/*
#body {
	text-decoration: Pokemon_Hollow;
}*/





.Boton_1{
	display: flex;
	background-size: 200px 200px;
	height: 200px; width: 200px;
	/*padding: 20px 20px 20px 20px;*/
	/*align-content: stretch;*/
}

.Boton_2{
	display: flex;
	background-size: 200px 200px;
	height: 200px; width: 200px;
	/*padding: 20px 20px 20px 20px;*/
	align-content: stretch;
}

.Boton_3{
	display: flex;
	/*padding: 20px 20px 20px 20px;*/
	background-size: 200px 200px;
	height: 200px; width: 200px;
	align-content: stretch;
}

.Boton_4{
	display: flex;
	background-size: 200px 200px;
	height: 200px; width: 200px;
	/*padding: 30px 30px 30px 30px;*/
	align-content: stretch;
}

img {
	/*padding: 10px 10px 10px 10px;*/
	align-content: stretch;
	align-content: space-around;
}

h1 {
  font-family: Pokemon_Hollow;
  font-size: 50px;
  text-align: center;
  color: orange;
}

nav {
	background-color: orange;
	display: inline;
}

nav ul {
 	text-decoration: none;
 	list-style-type: none;
 	margin: 100px;
  	padding: 0;
  	background-color: orange;
  	/*position: relative;*/
	/*display: inline;*/
 }

li {
 	text-decoration: none;
 	margin: 25px 20px 75px 20px;
 	/*position: relative;*/
 	/*outline-offset: 15px;*/
 	/*list-style-type: none;
 	margin: 0;
  	padding: 0;*/
 	/*list-style-position: inside;*/
 	display: inline;
 	padding: 20px 10px 10px; 	
}


.barraBusqueda{
	width: 180px;
	height: 20px;
	margin-right: 5px;
}

#select_type, #searchBar, #info{
	display: none;
}





