@font-face {
	font-family: "Pokemon_Hollow";
	src:url("font/Pokemon_Hollow.ttf");
}



:root{
	--color-rosapastel: #DEA5A4;
}



.botones: hover { /*es un atributo que al posicionar el mouse en el boton este se agranda*/
	background-color: pink;
}

#botones {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: space-around;
	align-content: center;
	padding: 10px 100px 10px 100px;
}

.card {
  color: white;
  width: 200px;
  height: 260px;
  margin: 10px;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/dc/92/80/dc9280d6d991e4dfdaff0b16bf4764f8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 10px;
}
.card img {

  width: 130px;
  height: 130px;
  align-self: center;
  margin: 1em;
}
.card-body{
  width: 200px;
  height: 140px;
  padding: 0px;
}






/*
#body {
	text-decoration: Pokemon_Hollow;
}*/



h1 {
  font-family: Pokemon_Hollow;
  font-size: 50px;
  text-align: center;
  color: orange;
}

nav {
	background-color: orange;
	
}

nav li{
	list-style: none;
	padding: 20px 10px 10px; 
	/*padding-left: : 10px;*/
	
}

img {
	/*padding: 10px 10px 10px 10px;*/
	align-content: stretch;
	align-content: space-around;
}

.barraBusqueda{
	width: 180px;
	height: 20px;
	margin-right: 5px;
}



/*
#Boton_1{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_2{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_3{
	display: flex;
	padding: 20px 20px 20px 20px;
	align-content: stretch;
}

#Boton_4{
	display: flex;
	padding: 30px 30px 30px 30px;
	align-content: stretch;
}

*/
